$hover-color: #f0f0f0;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .card {
    border: solid 1px #d3d3d3;
    border-radius: 4px;
    padding: 10px;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 60px;
    width: 100%;
    max-width: 1260px;
    height: 100%;
    padding: 20px;
}

.home table {
    border-collapse: collapse;
    width: 100%;
}

.home thead th {
    border-top: solid 1px #d3d3d3;
    border-bottom: solid 1px #d3d3d3;
    height: 30px;
    text-align: left;
    font-weight: 400;
}

.home td {
    border-bottom: solid 1px #d3d3d3;    
}

.home tbody tr:hover {
    cursor: pointer;
    background-color: $hover-color;
}

.home td, .home th {
    padding: 5px;
}

.watchlist, .news, .positions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.watchlist h5, .news h5, .positions h5 {
    font-weight: 600;
    font-size: 1.2rem;
}

.portfolio-table {
    .header-row {
        color: #696969;
        font-size: 0.8rem;
    }
}

.portfolio-chart {
    width: 100%;
    height: 100%;
}

.portfolioHeaderContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 20px 0;

    .welcome-message {
        font-size: 2.4rem;
    }

    .balance-message {
        // font-size: 1.2rem;
    }
}

.showMoreTransactions {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #e0afa0;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.showMoreTransactions:hover {
    cursor: pointer;
}

.home .bottom {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .watchlist {
        width: 100%;
        height: 100%;

        th {
            color: #696969;
            font-size: 0.8rem;
        }

        th, td {
            text-align: center;
        }

        .watchlist-row {
            height: 4rem;
        }
    }

    .newsTable {
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            padding: 1rem;

            .newsImage {
                height: 80px;
                width: auto;
            }
    
            .content {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            
                .source {
                    font-weight: 500;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: $hover-color;
            }
        }
    }
}
