.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 60px;
    width: 100%;
    max-width: 1260px;
    height: 100%;
    padding: 20px;
}

.home table {
    border-collapse: collapse;
    width: 100%;
}

.home thead th {
    border-top: solid 1px #d3d3d3;
    border-bottom: solid 1px #d3d3d3;
    height: 30px;
    text-align: left;
    font-weight: 400;
}

.home td {
    border-bottom: solid 1px #d3d3d3;    
}

.home tbody tr:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.home td, .home th {
    padding: 5px;
}

.watchlist, .news {
    width: 600px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.watchlist h5, .news h5 {
    font-weight: 800;
    font-size: 1.2rem;
}