nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #e0e0e0;
    /* box-shadow: 0px 1px 2px #e0e0e0; */
}

nav .links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.2s;
}

.home-link {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    color: black;
}

.navbar-link:hover, .home-link:hover {
    color: #4056a1;
}

nav .account {
    position: relative;
    display: flex;
    flex-direction: column;
}

nav .account .icon {
    cursor: pointer;
    transition: 0.2 ease;
}

nav .account .icon:hover {
    color: #4056a1;
}

nav .account .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200px;
    right: 5%;
    top: 200%;
    padding: 4px;
    background-color: #fff;
    border: solid 1px #e0e0e0;
}

nav .account .dropdown .links {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
}

nav .account .dropdown .links div {
    width: 100%;
    font-size: 0.9rem;
    padding: 5px;
    transition: 0.3 ease;
}

nav .account .dropdown .links div:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

nav .account .dropdown .details {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 4px;
}

nav .account .dropdown .email {
    color: #a0a0a0;
    font-size: 0.9rem;
}

nav .account .dropdown .divider {
    width: 100%;
    border: solid 1px #f1f1f1;
    margin: 4px 0;
}

@media only screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }
}