.search {
    position: relative;
    text-align: center;
}

.search .input-container {
    border: solid 1px #f0f0f0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 400px;
    padding: 2px 2px;
}

.search input {
    font-size: 1rem;
    padding: 5px 6px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: none;
}

.search input {
    outline: none;
}

.search input::placeholder {
    color: #999999;
}

.search .results {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 400px;
    z-index: 10;
    border: solid 1px #f0f0f0;
}

.search .results:empty {
    border: none;
}

.search .results .result {
    padding: 5px;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    text-align: left;
    transition: 0.3s;
}

.search .result:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.search .search-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}