.order-type, .price-type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.order-type input[type=button] {
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 8px 16px;
}

.order-type .buy-button {
    background-color: green;
}

.order-type .sell-button {
    background-color: red;
}

.price-type .react-select-container {
    width: 100%;
    margin-bottom: 20px;
    border: solid 1px #c0c0c0;
    border-radius: 3px;
    font-size: 1rem;
}

.price-type .react-select__control {
    border: none;
}

.react-select__control > input {
    color: black;
}

.stock-buy form label {
    font-size: 0.85rem;
    color: #c0c0c0;
}

.stock-buy form input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    color: #808080;
    font-size: 1rem;
    margin-bottom: 20px;
}

.stock-buy form input:focus {
    outline: none;
}

.stock-buy form input[type=submit] {
    background-color: #DBFCFF;
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    border: none;
}

.stock-buy form input[type=submit]:hover {
    box-shadow: 0px 0px 3px 0px white;
    cursor: pointer;
}

.stock-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0;
    font-size: 0.8rem;
}

.stock-details-col {
    display: flex;
    flex-direction: column;
    width: 33%;
    border-right: solid 1px #c0c0c0;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.stock-details .stock-details-col:first-child {
    padding-inline-start: 0;
}

.stock-details .stock-details-col:last-child {
    padding-inline-end: 0;
    border: none;
}

.stock-details-col .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stock-details-col .row div:first-child {
    flex: 1 1 auto;
}

.stock-details-col .row div:last-child {
    flex: 0 0 auto;
    font-weight: bold;
}

.stock-container {
    display: flex;
    flex-direction: row;
    max-width: 1278px;
    width: 100%;
    margin: auto;
}

.stock-container .col1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 0px;
}

.stock-container .col2 {
    flex: 0 0 100%;
    flex-basis: 290px;
}

.stock-details {
    width: 100%;
    padding: 10px;
}

.stock-chart {
    height: 500px;
    min-height: 250px;
    padding: 10px;
}

.stock-header {
    max-width: 1278px;
    width: 100%;
    padding: 10px;
}

.stock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stock-buy {
    padding: 10px;
    height: 400px;
}

.stock-buy form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .stock-container {
        flex-direction: column;
    }
}