.order-type-select {
  outline: none;
}

.buyForm {
  padding: 10px;
}

.buyForm input[type=text] {
    width: 100%;
    border: 0.5px solid grey;
    font-size: 20px;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 15px;
}

.buyForm input[type=submit] {
    background-color: #E0AFA0;
    color: white;
    width: 100%;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 3px;
    border: solid 1px #463f3a;
}

.buyForm label {
  font-size: 14px;
}

.details-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  padding: 20px;
}

.details-grid > * {
  text-align: center;
  flex: 1 0 34%;
}

.details-grid h4 {
  font-size: 18px; 
  font-weight: 400;
}

h3 {
  font-size: 24px;
}

.headerContainer {
  padding: 10px;
}

.headerContainer h2 {
  font-size: 36px;
}

.headerContainer h4 {
  margin-left: 5px;
  font-size: 18px;
}