.transactionsTable {
    width: 100%;
    height: 100%;
    text-align: left;
    border: solid 1px black;
    border-collapse: collapse;
}

.transactionsTable th, .transactionsTable td {
    padding: 5px;
    border: solid 1px black;
}

.portfolio-chart {
    width: 100%;
    height: 100%;
}

.portfolioHeaderContainer {
    height: 100%;
    width: 100%;
    padding: 2rem;
    text-align: center;
}
